.popup__input_type_button {
    width: 358px;
    height: 50px;
    margin: 48px auto;
    color: #fff;
    background-color: #000;
    border-radius: 2px;
    border: 1px solid #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    transition: opacity 0.5s;
}

.popup__input_type_button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .popup__input_type_button {
        padding: 0;
        width: 100%;
        margin: 45px auto 0 auto;
        font-size: 14px;
        line-height: 17px;
        transition: opacity 0.5s;
    }
}