.popup__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: flex;
    align-content: center;
}


/* @media screen and (min-width: 320px) and (max-width: 720px) {
    .popup__container {
        top: -375px;
    }
} */