.popupConfirm_container {
    background-color: rgba(255, 255, 255, 1);
    width: 430px;
    height: 181px;
    margin: auto;
    position: relative;
    color: #000;
    border-radius: 10px;
    z-index: 100;
}

@media screen and (max-width: 767px) {
    .popupConfirm_container {
        max-width: 282px;
        min-height: 322px;
    }
}