.show-image__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: end;
    margin: auto;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .show-image__container {
        margin: auto 40px auto 40px;
        width: 100%;
    }
}