.show-image__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: end;
    margin: auto;
    position: relative;
    max-width: 816px;
}

@media screen and (min-width: 441px) and (max-width: 900px) {
    .show-image__container {
        max-width: 560px;
    }
}

@media screen and (min-width: 320px) and (max-width: 440px) {
    .show-image__container {
        margin: auto 40px auto 40px;
        width: auto;
    }
}