.person__name {
    max-width: 300px;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .person__name {
        max-width: 250px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-top: 22.25px;
    }
}