.add-button {
    background-color: #000;
    border: 2px solid #fff;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .add-button {
        margin: 36px auto 0 auto;
        width: 100%;
    }
}

.add-button:hover {
    opacity: 0.6;
    transition: opacity 0.2s ease-in;
}