.popup__form_type_avatar {
    width: 394px;
    height: 272px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .popup__form_type_avatar {
        padding: 0 22px;
        margin: auto;
        width: 282px;
        height: 322px;
    }
}