.person__employment {
    max-width: 300px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .person__employment {
        max-width: 250px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 14px auto 0 auto;
    }
}