.popupAvatar_container {
    width: 430px;
    height: 330px;
    display: flex;
    /* align-items: flex-end;
    justify-items: end; */
    margin: auto;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .popupAvatar_container {
        margin: auto;
        width: 282px;
        height: 322px;
    }
}