.popupAvatar__input_avatarLink {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 350px;
    border: none;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .popupAvatar__input_avatarLink {
        margin-top: 75px;
        width: 100%;
    }
}