.popup__form {
    width: 430px;
    height: 330px;
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    z-index: 100;
    padding-left: 36px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .popup__form {
        padding: 0 22px;
        width: 100%;
    }
}