.card__trash-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: 0;
    background-image: url(../../../images/trashbin.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
    filter: drop-shadow( 0 0 1px rgba(0, 0, 0, .7));
    transition: opacity 0.5s;
}

.card__trash-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
    cursor: pointer;
}