.card__like-button {
    background: none;
    border: 0;
    background-image: url(../../../images/heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    transition: opacity 0.5s;
}

.card__like-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
    cursor: pointer;
}