.cards {
    margin: 47.25px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px 17px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .cards {
        margin-top: 36px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}