.cardPopup__input_type_link {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    width: 350px;
    border: none;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .cardPopup__input_type_link {
        width: 100%;
    }
}