.person__edit-button {
    background-image: url("../../../images/pen.svg");
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-size: contain;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transition: opacity 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .person__edit-button {
        width: 18px;
        height: 18px;
    }
}

.person__edit-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}