.popup__close {
    width: 32px;
    height: 32px;
    transition: opacity 0.5s;
    background-image: url('../../../images/close-icon.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}