.cardPopup__input {
    font-size: 14px;
    font-weight: 400;
    width: 350px;
    border: none;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .cardPopup__input {
        width: 100%;
    }
}