.popup__input_type_error {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 5px 0 0 0;
    box-sizing: border-box;
    height: 12px;
    display: block;
    min-height: 24px;
    opacity: 0;
    transition: opacity .2s ease-in;
    position: relative;
}

.popup__input_type_error::before {
    position: absolute;
    content: '';
    border-top: 1px red solid;
    width: 354px;
    left: 0;
    top: -6px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .popup__input_type_error::before {
        width: calc(100% + 4px);
    }
}