.person {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .person {
        margin-top: 38.25px;
        flex-direction: column;
    }
}