.popup__title {
    margin-top: 40px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 17px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .popup__title {
        margin-top: 25px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
}